<div class="home">
	<div class="title">
		<h1>Oh hey there!</h1>
	</div>
	<div id="particles-js"></div>
</div>

<!-- About Page -->

<div class="about-me">
	<h2>About Me</h2>
	<p>An enthusiastic and passionate problem solver, I work hard and learn hard. My core driver is the thirst to push forward creative innovation and to make a positive impact on society.</p>

	<a href="#">My Resume</a>

	<!-- Services -->
	<div class="service">
		<%= image_tag	"html" %>
		<h4 class="service-title">HTML & CSS</h4>
	</div>

	<div class="service">
		<%= image_tag	"javascript" %>
		<h4 class="service-title">Javascript</h4>
	</div>
	
	<div class="service">
		<%= image_tag	"ruby" %>
		<h4 class="service-title">Ruby</h4>
	</div>
	
	<div class="service">
		<%= image_tag	"cc" %>
		<h4 class="service-title">Creative Cloud</h4>
	</div>

	<div class="service">
		<%= image_tag	"writing" %>
		<h4 class="service-title">Copy Writing</h4>
	</div>

</div>

<button>Contact Me</button>

<!-- Portfolio -->
<div class="portfolio">
	<h2>My Work</h2>

</div>

<!-- Blog -->
<div class="blog">
	<h2>Blog</h2>
</div>

<!-- Contact Me -->
<div class="contact">
	<h2>Contact Me</h2>
</div>
